.event_list_wrapper {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  .event_list_create_btn {
    text-align: right;
    margin-bottom: 10px;
  }

  .pagination_wrapper {
    margin: 10px 0px;
    .Mui-selected {
      background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    }
  }

  .button {
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    color: #fff;
    outline: none;
    font-size: 0.8rem;

    &:hover {
      background: linear-gradient(45deg, #ff8e53 30%, #fe6b8b 90%) !important;
      font-size: 0.8rem;
    }
  }
}
