.login_wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 0px 0px 10px 10px !important;
  margin: auto;

  @media screen and (max-width: 600px) {
    box-shadow: none !important;
  }

  .login_label {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .noAccount {
    margin-top: 10px;
    text-align: right;
    width: 100%;

    a {
      color: sandybrown;
      &:hover {
        text-decoration: yellowgreen;
        text-transform: uppercase;
      }
    }
  }
}

.bg_wrapper {
  background-image: url('/img/login-bg.jpg');
  background-size: 100% 100%;
  max-width: 909px;
  margin: auto;
  height: 500px;
  background-position: bottom;
  width: 100%;
  border-radius: 10px;

  @media screen and (max-width: 908px) {
    border-radius: initial;
    height: 580px;
  }

  @media screen and (max-width: 600px) {
    background-image: none;
    max-width: initial;
    height: initial;
  }
}
