.dialog_wrapper {
  max-width: 700px;
  width: 100%;
  margin: auto;

  .title {
    color: chocolate;
  }
  .description {
    .price {
      color: rgb(190, 88, 44);
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
